* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f1fcfa;
    /* color: white; */
    font-family: 'Poppins', sans-serif;
}

p {
    margin: 0;
    padding: 0;
}

.App {
    height: 99vh;
    display: flex;
}

.sidebar {
    flex: 3;
}

.main {
    flex: 9;
}

.logo {
    margin-right: 1rem;
}

.upperSide {
    padding: 3rem;
    border-bottom: 1px solid #eee;
    height: 70%;
}

.upperSideTop {
    padding-left: 5px;
    margin-bottom: 2rem;
}

/* .midBtn {
    background-color: #5A4BEF;
    border: none;
    color: white;
    width: 100%;
    padding: 0.9rem;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 1rem;
    transition: all 0.2s ease;
}

.midBtn:hover {
    background-color: rgb(255, 255, 255);
    color: #5A4BEF;
} */

.query {
    display: flex;
    align-items: start;
    width: 100%;
    padding: .70rem;
    padding-left: 20px;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
    outline: none;
    margin-bottom: .625rem;
}

.query:hover {
    background-color: rgb(200, 200, 200);
}

.lowerSide {
    padding: 3rem;
}

.listItems {
    padding: .6rem;
    background-color: white;
    color: black;
    border-radius: 4px;
    font-size: 1rem;
    box-shadow: 2px 2px 6px rgba(128, 128, 128, 0.476);
    margin-bottom: .625rem;
    cursor: pointer;
}

.listItems:hover {
    background-color: whitesmoke;
}

.main {
    min-height: calc(100vh - 1.875rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3% 10%;
}

.chatFooter {
    margin-top: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.inp {
    padding: .5rem;
    color: black;
    background: white;
    box-shadow: 5px 5px 10px #eee;
    border-radius: 0.5rem;
    width: 70rem;
    display: flex;
    align-items: center;
}

.inp>input,
.send {
    background: transparent;
    border: none;
}

.inp>input {
    width: calc(100% - 3rem);
    outline: none;
    padding: .5rem;
}

.send:hover {
    background-color: #1f4b3f;
    color: white;
}

.send {
    color: #1f4b3f;
    font-size: 1.3rem;
    cursor: pointer;
    border-radius: 5px;
    margin-inline: 6px;
    background-color: #f1fcfa;
    height: 40px;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chats {
    overflow: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
    width: 100%;
    max-width: 70rem;
    height: calc(100vh - 14rem);
}

.chats::-webkit-scrollbar {
    display: none;
}

.chat {
    display: flex;
    align-items: flex-start;
    font-size: 1.1rem;
    margin-bottom: 1rem;
    padding: 1.3rem;
    background: white;
    border-radius: 0.5rem;
    width: fit-content;
}

.user-icon,
.ai-icon {
    object-fit: cover;
    margin-right: 1.2rem;
}
.ai-icon i {
    font-size: 20px;
}
.loading {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}